<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<ul>
{{range .Transport}}
<li>Manufacturer: {{uc .Manufacturer}}, Model: {{uc .Model}}, Nr. of doors: {{.Doors}}</li>
{{end}}
{{range .Transport}}
<li>Manufacturer: {{ft .Manufacturer}}, Model: {{ft .Model}}, Nr. of doors: {{.Doors}}</li>
{{end}}
{{range .Transport}}
<li>Manufacturer: {{lt .Manufacturer}}, Model: {{lt .Model}}, Nr. of doors: {{.Doors}}</li>
{{end}}
</ul>
{{range .Transport}}
<li>Manufacturer: {{rv .Manufacturer}}, Model: {{rv .Model}}, Nr. of doors: {{.Doors}}</li>
{{end}}
</ul>
</body>
</html>