<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>

{{if gt .CarPower1 .CarPower2}}
Car Power 1 > Car Power 2
{{end}}

{{if lt .CarPower1 .CarPower2}}
Car Power 1 < Car Power 2
{{end}}

{{if eq .CarPower1 .CarPower2}}
Car Power 1 = Car Power 2
{{end}}

{{if lt .CarPower1 10}}
LAST ONE: Car Power 1 < 100
{{end}}
</body>
</html>