<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Valoarea: {{.}}

Valoarea dublata: {{. | fdbl}}

Valoarea dublata si ridicata la patrat: {{. | fdbl | fsq}}

Valoarea dublata, ridicata la patrat si extras radicalul patrat: {{. | fdbl | fsq | fsqrt}}

</body>
</html>