<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<ul>
{{range .Houses}}
<li>Nr. Rooms: {{.Rooms}}, Nr. Bathrooms: {{.Bathrooms}}, Type: {{.Type}}</li>
{{end}}
</ul>
<ul>
{{range .Transport}}
<li>Manufacturer: {{.Manufacturer}}, Model: {{.Model}}, Nr. of doors: {{.Doors}}</li>
{{end}}
</ul>
</body>
</html>