<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Timp luat fara formatari: {{.}}
Timp luat cu formatari: {{fdateMDY .}}
Timp luat cu formatare timpBucatarie: {{timpBucatarie .}}

</body>
</html>